*.iml
.gradle
/local.properties
.DS_Store
/captures
.externalNativeBuild
*.apk
*.dex
*.class
bin/
gen/
out/
build/
gradle.properties
gradle/
gradlew
gradlew.bat
proguard/
*.log
.navigation/
captures/
.idea/
.idea/tasks.xml
*.jks
